    *{
    font-family: 'Black Han Sans',sans-serif;
    }
    .content{
  text-align: center;
  background-color: rgba(255,255,255, 0.60);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  }
  body{
  background-color: #dd3f5b;
  }
  .hidden{
  display: none;
  }
  h1{
    margin-top: 50%;
    font-size: 100px;
    color: #dd3f5b;
  }
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 90px;
    margin-bottom: 100%;
    color: #dd3f5b;
    text-align: center;
}
.clickablebutton{
  font-size: 120px;
}
.buttonhok{
  /*padding-left: 2.1%;*/
  /*padding-right: 2.1%;*/
}
.buttonrow{
  padding: 10%;
}
#buttons{
  margin-top: 20%;
  margin-bottom: 65%;
  width: 100%;
}

button{
    background-color: #dd3f5b;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 15px;
}
#myturn, #myscore{
font-size: 80px;
}
#myturn{
border-radius: 30px;
padding: 20px;
background-color: #444444;
color: #000;
}

.noGame{
    display: none;
}
/*@media screen and (orientation: landscape){*/
/*    .normal{*/
/*        display: none;*/
/*    }*/
/*    .noGame{display: block;}*/
/*}*/
/*    footer{*/
/*        font-size: 60px;*/
/*    }*/
