  *{
  font-family: 'Black Han Sans', sans-serif;
  }
  body{
            -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

div#memory_board{
	background: rgba(255, 255, 255, 0.0);
	width:850px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{
	background: url('{{ cover }}') no-repeat;
	background-size: 116px 116px;
	border:rebeccapurple 3px solid;
	border-radius: 15px;
	width:113px;
	height:113px;
	float:left;
	margin:10px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
                -webkit-animation: item 20s infinite;
    animation: item 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.image{
border-radius: 15px;
transition: 2s;
}

.grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , #ff8c32, blue, violet);
    background: -o-linear-gradient(right, orange, #ffae20, blue, violet);
    background: -moz-linear-gradient(right, orange, #ffbf2b, blue, violet);
    background: linear-gradient(to right, orange , #ffb021, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

a:link, a:visited {
    background-color: rebeccapurple;
    color: white;
    border-radius: 15px;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
}


a:hover, a:active {
    background-color: #522d7f;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rebeccapurple;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: rebeccapurple;
    color: white;
}
  .content{
  text-align: center;
  background-color: rgba(255,255,255, 0.75);
  border-radius: 10px;
  padding: 11px;
  margin: 20px;
  }
h1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
footer{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                -webkit-animation: item 20s infinite;
    animation: item 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes bgcolor {
    0% {
        background-color: rebeccapurple;
    }

    25% {
        background-color: #962e99;
    }

    75% {
        background-color: #381d55;
    }

    100% {
        background-color: rebeccapurple;
    }
}
@keyframes item {
    0% {
        color: rebeccapurple;
        border: solid rebeccapurple;
    }

    25% {
        color: #962e99;
        border: solid #962e99;
    }

    75% {
        color: #381d55;
        border: solid #381d55;
    }

    100% {
        color: rebeccapurple;
        border: solid rebeccapurple;
    }
}

#p1{
background-color: rebeccapurple;
color: #ffffff;
border-radius: 20px;
padding: 10px;
}
#p2{
color: rebeccapurple;
border-radius: 20px;
padding: 10px;
}