    *{
    font-family: 'Black Han Sans',sans-serif;
    }
    .content{
  text-align: center;
  background-color: rgba(255,255,255, 0.60);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  }
  body{
  background-color: rebeccapurple;
  }
  progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 250px;
  height: 20px;
}
