  *{
  font-family: 'Black Han Sans', sans-serif;
  /*font-family: 'Staatliches', cursive;*/
  }

  ul{
  list-style-type: none;
  margin-right: 3%;
  }
  ul>li{
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  body{
        -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .content{
  text-align: center;
  background-color: rgba(255,255,255, 0.60);
  border-radius: 5px;
  padding: 20px;
  margin: 30px;
  }
  select {

    padding: 16px 50px;
    border-radius: 10px;
    border: solid #dd3f5b;
    background-color: rgba(255,255,255,0.0);
    margin-bottom: 10px;
              -webkit-animation: item 20s infinite;
    animation: item 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

input[type=submit] {

    background-color: rgba(255,255,255, 0.0);
    padding: 12px 20px;
    border: solid #dd3f5b;
    border-radius: 10px;
    cursor: pointer;
            -webkit-animation: item 20s infinite;
    animation: item 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
h1{
font-size: 75px;
}
.rebecca{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

footer{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                -webkit-animation: item 20s infinite;
    animation: item 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bgcolor {
    0% {
        background-color: #db7880;
    }

    25% {
        background-color: #dd3f5b;
    }

    50% {
        background-color: #920d23;
    }

    75% {
        background-color: #dd3f5b;
    }

    100% {
        background-color: #db7880;
    }
}
@keyframes item {
    0% {
        color: #db7880;
        border: solid #db7880;
    }

    25% {
        color: #dd3f5b;
        border: solid #dd3f5b;
    }

    50% {
        color: #920d23;
        border: solid #920d23;
    }

    75% {
        color: #dd3f5b;
        border: solid #dd3f5b;
    }

    100% {
        color: #db7880;
        border: solid #db7880;
    }
}
.disabled{
background-color: rgba(100,100,100,0.5);
}

.noGame{
    display: none;
}

@media screen and (max-width:1000px) {
    .normal{
        display: none;
    }
    .noGame{
        display: block;
    }
}

@media screen and (orientation:portrait) {
    .normal{
        display: none;
    }
    .noGame{
        display: block;
    }
}