<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Images</title>
</head>
<body>
<h1>Images</h1>
<h3><a href="/settings">Back to settings home</a></h3>
<hr>
<a href="/settings/images/add">Add a new image</a>
<hr>
<table border="1">
    {% for image in images %}
        <tr>
            <th>{{ image.image.name }}</th>
            <th>{{ image.theme.name }}</th>
            <th><a href="{{ image.image.url }}">View image</a></th>
            <th><a href="/settings/images/delete/{{ image.id }}">Delete this image</a></th>
        </tr>
    {% endfor %}
</table>
</body>
</html>