dj-database-url==0.4.2
Django==2.0.1
django-crispy-forms==1.7.2
django-extensions==2.0.6
django-rest-framework==0.1.0
djangorestframework==3.7.7
html5lib==0.9999999
Pillow==5.0.0
pipenv==9.0.1
pyglet==1.3.1
Pygments==2.2.0
pyHook==1.5.1
pypiwin32==222
pywin32==222
requests==2.18.4
sip==4.19.7
six==1.11.0
urllib3==1.22
websockets==3.4
