<!DOCTYPE html>
<html>
<head>
<title>Memoreyes</title>
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.ico">
<link rel="stylesheet" href="/media/css/game_offline.css">
<style>
    div#memory_board > div{
	background: url('{{ cover }}') no-repeat;
    background-size: 116px 116px;
    }
</style>
<script>
var memory_array = ["{{ image1 }}", "{{ image1 }}",
                    "{{ image2 }}", "{{ image2 }}",
                    "{{ image3 }}", "{{ image3 }}",
                    "{{ image4 }}", "{{ image4 }}",
                    "{{ image5 }}", "{{ image5 }}",
                    "{{ image6 }}", "{{ image6 }}",
                    "{{ image7 }}", "{{ image7 }}",
                    "{{ image8 }}", "{{ image8 }}",
                    "{{ image9 }}", "{{ image9 }}",
                    "{{ image10 }}", "{{ image10 }}",
                    "{{ image11 }}", "{{ image11 }}",
                    "{{ image12 }}", "{{ image12 }}",
];
</script>
<script src="/media/js/game_offline_1.js"></script>
</head>
<body>
<div class="content">
<h1 id="title">Memorears</h1>
<!-- <h6><a href="/offline-beta">Choose a new theme</a></h6> -->
<!-- <h2><a href="/offline-beta">Choose a new theme</a></h2> -->
<div id="memory_board"></div>
<script>newBoard();</script>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Du hast gewonnen!</h2>
    </div>
    <div class="modal-body">
      <p>Alle Karten sind geöffnet <br>Um erneut zu spielen, schließt dieses Dialogfeld oder tippt außerhalb dieses Dialogfelds</p>
      <p>of</p>
      <a href="/">Wählen Sie ein neues Thema</a>
    </div>
    <div class="modal-footer">
      <h3>© Rafayel Gardishyan.</h3>
    </div>
  </div>

</div>
<script src="/media/js/game_offline_2.js"></script>
</div>
<footer class="content">© Rafayel Gardishyan.</footer>
</body>
</html>