<!DOCTYPE html>
<html>
<head>
<title>Memoreyes</title>
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
<link rel="stylesheet" href="/media/css/game_online.css">
<link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.ico">
<style>
#memory_board>div{
background: url('{{ cover }}') no-repeat;
}
</style>
<script>
let memory_array = ["{{ image1 }}", "{{ image1 }}",
                    "{{ image2 }}", "{{ image2 }}",
                    "{{ image3 }}", "{{ image3 }}",
                    "{{ image4 }}", "{{ image4 }}",
                    "{{ image5 }}", "{{ image5 }}",
                    "{{ image6 }}", "{{ image6 }}",
                    "{{ image7 }}", "{{ image7 }}",
                    "{{ image8 }}", "{{ image8 }}",
                    "{{ image9 }}", "{{ image9 }}",
                    "{{ image10 }}", "{{ image10 }}",
                    "{{ image11 }}", "{{ image11 }}",
                    "{{ image12 }}", "{{ image12 }}",
];
</script>
<script src="/media/js/game_online_1.js"></script>
</head>
<body>
<div class="content">
<h1 id="title">Memorears</h1>
<h3>Reihe: <span>Spieler <span id="player">1</span></span></h3>
<!-- <h6><a href="/offline-beta">Choose a new theme</a></h6> -->
<!-- <h2><a href="/offline-beta">Choose a new theme</a></h2> -->
<div id="memory_board"></div>
<script>newBoard();</script>
<!-- The Modal -->
<script src="/media/js/game_online_2.js"></script>
</div>
<footer class="content">© Rafayel Gardishyan</footer>
</body>
</html>