<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lobby</title>
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
<link rel="stylesheet" href="/media/css/game_online_lobby.css">
</head>
<body>
<div class="content">
<h1>Game Pin: {{ gameid }}</h1>
<h3>Go to <i style="color:rebeccapurple;">URL/player</i> and enter this game pin</h3>
<h4>You will be redirected in <span id="timeleft">30</span> seconds</h4>
<progress value="0" max="30" id="progressBar"></progress>
</div>
<script src="/media/js/lobby.js"></script>
</body>
</html>