<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Player</title>
  <link rel="shortcut icon" type="image/x-icon" href="media/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

  <link rel="stylesheet" href="/media/css/game_online_playerscreen.css">
</head>
<body>
<div class="normal">
<div id="beforegame" class="content">
<h1>Game Pin <br><input onchange="checkpin(this)" type="text" autofocus></h1>
</div>
<div id="game" class="content hidden">
  <span id="myturn">Mijn Beurt</span><br><br><span id="myscore">Mijn Score: <span id="score">0</span></span><br>
  <table id="buttons"></table>

</div>
</div>
<div class="noGame content">
    Je scherm is niet geschikt. Draai je scherm om of open Memoreyes op een portable device.
</div>
<script src="/media/js/playerscreen.js"></script>
</body>
</html>
